:root {
  --primary: #88d5bf;
  --secondary: #5d6bf8;
  --third: #e27fcb;
}

.container_AboutMe {
  h1 {
    width: 100%;
    padding-top: 30px;
    padding-top: 70px;
  }
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  p {
    padding: 0 100px;
    font-weight: bolder;
    text-align: justify;
    margin-right: 0;
  }
}
.skills {
  margin: 0 auto;
  width: 60%;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    padding: 5px 10px;
    width: 40px;
  }
}

.foto {
  width: 300px;
  border-radius: 50%;
  margin: 50px;
}

.shape {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 3s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 400px;
  transition: 3s;
  width: 400px;
  z-index: 500;
  position: relative;
  margin-right: 7%;

  img {
    width: 300px;
    height: 300px;
    margin: 50px;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.shape2 {
  position: absolute;
  background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  animation: morph2 3s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 400px;
  transition: 3s;
  width: 400px;
  z-index: 500;
}

@keyframes morph2 {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    opacity: 0;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    opacity: 1;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    opacity: 0;
  }
}

@media only screen and (max-width: 900px) {
  .container_AboutMe {
    h1 {
      margin-right: 0;
    }
  }

  .shape {
    height: 250px;
    width: 250px;
    margin: 0;

    img {
      width: 200px;
      height: 200px;
      margin: 25px;
    }
  }

  .shape2 {
    height: 250px;
    width: 250px;
  }

  section {
    .text_AboutMe {
      padding-top: 0;
    }
  }

  .skills {
    padding: 0 50px;

    img {
      padding: 5px 10px;
      width: 30px;
    }
  }
}

@media only screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }

  .skills {
    img {
      padding: 5px 10px;
      width: 30px;
    }
  }
}

@media only screen and (max-width: 400px) {
  section {
    p {
      padding: 0 40px;
    }
  }

  .skills {
    padding: 10px;
  }
}
