.app {
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.box_area {
  z-index: -1;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.box_area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: 0;
  z-index: -1;
}

@for $i from 1 through 30 {
  $num: random(150);
  $left: random(1300); 
  $bottom: random(100);
  $opacity: random(100);

  .box_area li:nth-child(#{$i}) {
    opacity: 0;
    left: $left + 50px; 
    bottom: $bottom + 0%;
    width: $num + 0px;
    height: $num + 0px;
    animation-delay: random(3) + 0s;
    z-index: -1;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-1400px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-2800px) rotate(180deg);
    opacity: 0;
  }
}
